body {
    font-family: sans-serif
}

#followingList {
    width: 80%;
    margin-top: 20px;
}

.img-ch-logo {
    width: 50px;
    height: auto;
}

a {
    color: black;
    
}

a:hover, a:visited {
    color: blueviolet;
}

.q-container {
    display: inline-block;
    padding: 5px;
    margin: auto;
}

label.capsule {
    display: block;
    width: 60px;
    border: 1px solid rgb(200,200,200);
    line-height: 30px;
    border-radius: 25px;
    /* background-color: #EF9A9A; */
}

.circle {
    margin-top: 5px;
    margin-left: 5px;
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    /*border: 1px solid black;*/
    background-color: rgb(219, 218, 218);
    box-shadow: 2px 1px 1px 0px rgb(109, 105, 105);
}

.text-signs {
    font-size: 10px;
    text-align: center;
}

.text-signs span {
    user-select:none;
    -webkit-user-select:none;
    color: rgb(93, 81, 81);
}

.hidcheck:checked ~ .capsule .text-signs #on {
    margin-left: -12px;
    animation-name:toggle-on;
    animation-duration:100ms;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}

.hidcheck:checked ~ .capsule .text-signs #on:before {
    /*content: "ON" */
}

.hidcheck:not(:checked) ~ .capsule .text-signs #on {
    margin-left: 12px;
    animation-name:toggle-off;
    animation-duration:100ms;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}

.hidcheck:not(:checked) ~ .capsule .text-signs #on:after {
   /*  content: "OFF" */
}

@-webkit-keyframes toggle-on {
    0% {margin-left: 0px;}
    100% {margin-left: -12px;}
}

@-webkit-keyframes toggle-off {
    0% {margin-left: 0px;}
    100% {margin-left: 12px;}
}

.hidcheck:checked ~ .capsule {
    background-color: #8BC34A;
}

.hidcheck:checked ~ .capsule .circle {
    animation-name:toggle;
    animation-duration:100ms;
    animation-fill-mode:forwards;
    animation-timing-function:ease-out;
}

.hidcheck:not(:checked) ~ .capsule .circle {
    animation-name:toggle-back;
    animation-duration:100ms;
    animation-fill-mode:forwards;
    animation-timing-function:ease-in-out;
    animation-direction:reverse;
}

@-webkit-keyframes toggle-back {
    0% {
        margin-left: 2px;
        box-shadow: 2px 1px 1px 0px rgb(109, 105, 105);
    }

    10% {
        width: 22px;
    }

    20% {
        width: 23px;
    }

    30% {
        width: 24px;
    }

    40% {
        width: 25px;
    }

    45% {
        width: 27px;
    }

    50% {
        width: 29px;
    }

    55% {
        width: 27px;
    }

    60% {
        width: 23px;
    }

    70% {
        width: 22px;
    }

    80% {
        width: 21px;
    }

    90% {
        width: 20px;
    }

    100% {
        margin-left: 38px;
        width: 20px;
        height: 20px;
        box-shadow: -2px 1px 1px 0px rgb(109, 105, 105);
    }
}

@-webkit-keyframes toggle {
    0% {
        margin-left: 2px;
        box-shadow: 2px 1px 1px 0px rgb(109, 105, 105);
    }

    10% {
        width: 22px;
    }

    20% {
        width: 23px;
    }

    30% {
        width: 24px;
    }

    40% {
        width: 25px;
    }

    45% {
        width: 27px;
    }

    50% {
        width: 29px;
    }

    55% {
        width: 27px;
    }

    60% {
        width: 23px;
    }

    70% {
        width: 22px;
    }

    80% {
        width: 21px;
    }

    90% {
        width: 20px;
    }

    100% {
        margin-left: 38px;
        width: 20px;
        height: 20px;
        box-shadow: -2px 1px 1px 0px rgb(109, 105, 105);
    }
}